**/.DS_Store


**/manifests

**/Icon*
**/Icon

*/Icon

Icon


**/#*.*#
**/*.*~
**/#*#
**/*~

.classpath
.project

**/.settings/

**/target/

**/*.class

eidas-certificate-parser/jar-in-jar-loader.zip
eidas-certificate-parser/iedaspsd-jar-gen.xml
